/* Universal Styles */

html {
  font-size: 14px;
  line-height: 1.5rem;
  font-family: "Questrial", sans-serif;
}

span {
  font-weight: bold;
}

.banner-text {
  background-color: rgba(9, 128, 0, 0.5);
  width: 35%;
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-background {
  background-color: white;
  border-bottom: .1rem solid rgba(9, 128, 0, 0.5);
  display: flex;
  color: rgb(2, 25, 0);
}

.column-left {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 3.5rem;
}

.left-color {
  background-color: #e6ffe8;
}

.green-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(6, 68, 0);
  color: white;
}

.green-section h2 {
  font-size: 4rem;
  margin: 7rem 0 2rem 0;
}




/* Navigation Bar */
nav {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #f2f9f1;
  border-bottom: .1rem solid rgb(5, 65, 0);
  width: 100%;
  height: 5rem;
  color: rgb(2, 25, 0);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  margin: auto 2rem;
}

.logo img {
  height: 4.5rem;
}

.logo p {
  margin: auto 1rem;
  font-size: 3rem;
  font-family: "Vivaldi";
}

nav ul {
  display: flex;
  margin: auto 2rem;
}

nav a {
  text-decoration: none;
  color: rgb(2, 25, 0);
  padding: 0 1rem;
  font-size: 1.35rem;
}

nav a:hover {
  font-size: 1.4rem;
}

.dropdown {
  display: none;
}




/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  border-bottom: .1rem solid rgb(5, 65, 0);
  background-image: url("../images/chicagoGreen.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Vast Shadow", cursive;
}

.banner-text h1 {
  margin: 1rem 3rem;
  font-size: 4.5rem;
  text-align: center;
  line-height: 5.5rem;
}

.banner-text h2 {
  margin: 2rem 3rem;
  font-size: 2rem;
  text-align: center;
}




/* Welcome */
.welcome {

}

#welcome-text {
  font-size: 1.5rem;
  text-align: left;
  margin: 3rem 10rem 2rem 10rem;
  line-height: 2rem;
}

.welcome-paragraph {
  margin-bottom: 2rem;
}



/* Schedule */
.schedule {
  height: 50rem;
  width: 65%;
  overflow: scroll;
}

.schedule-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-daily {
  width: 80%;
  margin: 2rem;
}

.event-name {
  width: 100%;
  text-align: center;
  margin-bottom: .5rem;
}

.event-location {
  text-align: center;
  margin-bottom: 1rem;
}

.event-details {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.event-departure {
  font-size: 1.25rem;
  text-align: center;
  margin: 4rem;
}

.name {
  font-size: 2rem;
}



/* History */
.history {
  display: flex;
  flex-direction: column;
  background-image: url("../images/alabama_banner3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.history-text {
  margin-top: 50rem;
}

.allenton p {
  margin: 5rem 10rem 5rem 10rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.allenton a {
  color: #e6ffe6;
}



/* Family Tree */




/* Contact */
.contact {
  background-image: url("../images/emblem3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-top: -.2rem;
}

.contact-text {
  display: flex;
  background-color: rgba(9, 128, 0, 0.75);
}

.contact h2 {
  font-size: 3.5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  margin: auto 4rem;
}

.contact h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

.contact ul {
  margin: 1rem 0 4rem 0;
}

.contact li {
  padding: .25rem 0;
}

.inquiry {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.inquiry-form {
  display: flex;
}

.form-right {
  display: flex;
  flex-direction: column;
  margin: .15rem;
}

.form-right input {
  width: 20rem;
  height: 2rem;
  font-size: 1.15rem;
}

.form-textarea {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-btn {
  height: 3rem;
  width: 6rem;
  background-color: white;
  color: rgb(2, 25, 0);
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.contact-btn:hover {
  background-color: green;
  color: white;
}

#message {
  font-size: 1.15rem;
  padding: .45rem;
}




/* Footer */
footer {
  display: flex;
  flex-direction: column;
}

footer a {
  color: rgb(2, 25, 0);
  padding: 1.5rem;
}

.bottom2top {
  background-color: rgb(6, 68, 0);
  height: 6rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom2top a {
  color: white;
  text-decoration: none;
  margin: -1rem auto;
}

.social-media {
  background-color: white;
  color: rgb(2, 25, 0);
  font-size: 1.5rem;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a:hover {
  font-size: 3rem;
}



@media only screen and (max-width: 1820px) {
  .banner-text h1 {
    margin: 1rem 3rem;
    font-size: 3.5rem;
  }

  .banner h2 {
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 1400px) {

  /* Universal */
  .column-left {
    font-size: 2.5rem;
  }



  /* Banner */
  .banner-text h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .banner h2 {
    font-size: 1.5rem;
  }

  .history {
    background-image: url("../images/alabama_banner5.jpg");
  }
}



@media only screen and (max-width: 968px) {

  /* Navigation Bar */
  .navigation {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

  .logo {
    display: none;
  }

  nav ul {
  margin: auto;
  }

  .active-btn {
    padding: 1.75rem 1rem;
  }




  /* Banner */
  .banner-text {
    width: 100%;
  }

  .banner-text h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }

  .banner h2 {
    font-size: 2.5rem;
    margin: 2rem 3rem;
  }



  /* Welcome */
  .welcome {
    margin: 5rem 1rem;
  }




  /* Contact */
  .form-right input {
    width: 24rem;
  }

  .inquiry-form {
    display: flex;
    flex-direction: column;
  }

  .form-textarea {
    margin: 0;
  }
}



@media only screen and (max-width: 768px) {
  /* Universal */
  /* .color-background {
    flex-direction: column;
    margin: auto 0;
  }

  .column-left {
    width: 100%;
  } */

  /* .column-left {
    width: 10%;
    height: 10rem;
    border-bottom: .1rem solid rgb(2, 25, 0);
  }*/

  .green-section h2 {
    font-size: 100.5rem;
    margin: 7rem 1rem 2rem 1rem;
  }


  /* Navigation */
    .navigation {
    display: none;
  }

  .dropbtn {
    background-color: inherit;
    padding: 1rem;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn:hover, .dropbtn:focus {
      background-color: #ddd;
    }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }

  .dropdown-content a {
    color: rgb(2, 25, 0);;
    padding: 1rem 1.25rem;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }




  /* Banner
  .banner-text h1 {
    font-size: 2.75rem;
    line-height: 3rem;
  }

  .banner h2 {
    font-size: 2rem;
    margin: 2rem 3rem;
  } */


  /* Registration */
  #large-view {
    display: none;
  }

  #small-view {
    display: flex;
  }


  .history {
    background-image: url("../images/alabama_banner6.jpg");
  }


  /* Schedule */
  .schedule {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
  }


  /* History */
  .allenton p {
    margin: 5rem 4rem 5rem 4rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .allenton img {
    display: none;
  }



  /* Contact */
  .contact-text {
    flex-direction: column;
  }

  .contact-text .banner-text {
    height: 10rem;
  }

  .contact-info {
    margin: 5rem 2rem;
  }

  .contact h2 {
    font-size: 2.75rem;
  }

  .contact-btn {
    margin-right: auto;
    margin-left: 0;
  }

  .form-right input, .form-textare {
    width: 100%;
  }
}
